# Build directories
**/bin/
**/obj/
**/out/

# Docker files
**/Dockerfile
**/.dockerignore
**/docker-build.ps1
**/docker-compose.dcproj
**/docker-compose.yml
**/docker-compose.yaml
**/docker-compose.override.yml
**/docker-compose.override.yaml

# git files
**/.git/
**/.github/
**/.gitignore
**/.gitattributes

# Visual Studio files
**/.vs/
**/.editorconfig
**/*.csproj.user
**/Properties/

# Tests
Tests/
TestResults/
